.pagos, .envios {
  height: 2.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.pagos p, .envios p {
  font-size: smaller;
  color: white;
  white-space: nowrap;
  margin: 0;
}

.ulist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.ulist a {
  text-decoration: none;
}

.inner-banner {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  animation: move 18s reverse linear infinite;
}

@keyframes move {
  from {
    transform: translateX(-78%);
  }
  to {
    transform: translateX(100%);
  }
}
.envios {
  background-color: #ffb7ce;
}

.envios p {
  text-shadow: 150rem 0 white, 100rem 0 white, 50rem 0 white, -50rem 0 white, -100rem 0 white;
}

.pagos {
  background-color: black;
}

.pagos p {
  text-shadow: 210rem 0 white, 140rem 0 white, 70rem 0 white, -70rem 0 white, -140rem 0 white;
}

header {
  height: 9rem;
  padding: 0 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgb(211, 211, 211);
  position: sticky;
  top: 0;
}

.title-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.simple-button {
  border: none;
  background: none;
  padding: 0;
}
.simple-button :hover {
  width: 20px;
  height: 20px;
}

.logo-img {
  justify-self: center;
}

.login-cart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.option-menu {
  align-self: center;
  margin: 0.5rem;
  height: 3rem;
  display: flex;
  align-items: end;
  font-weight: 300;
  font-size: 0.9rem;
}
.option-menu a:hover {
  text-decoration: underline;
}

.navbar a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 0;
  padding: 5px;
  min-width: 8.5rem;
  list-style: none;
  background-color: white;
  border: 1px solid black;
}
.dropdown-content li {
  padding: 10px 5px;
}
.dropdown-content a:hover {
  font-weight: bolder;
  text-decoration: none;
}

.dropdown-content-visible {
  display: block;
}

.search-section {
  display: none;
  height: 100%;
  width: 100%;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-section label {
  position: absolute;
  left: 19.5rem;
  top: 3.8rem;
  pointer-events: none;
  color: rgb(77, 77, 77);
}
.search-section input {
  height: 3rem;
  width: 46rem;
  border: 1px solid black;
  padding: 0 1rem;
  color: black;
  outline: none;
  font-size: 0.8rem;
}
.search-section input:focus {
  border: 2px solid black;
}
.search-section input:hover {
  border: 2px solid black;
}
.search-section button {
  color: rgb(54, 54, 54);
}

.search-section form > button {
  position: relative;
  right: 2.5rem;
}

.disabled {
  pointer-events: none;
  filter: blur(5px);
}

.shortcuts {
  height: 12rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.shortcut-card {
  width: 7rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shortcut-card img {
  width: auto;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid #ffb7ce;
}
.shortcut-card p {
  font-size: 12px;
  margin: 5px;
}

.destacado-preview {
  height: 40rem;
  background-image: url("../images/botas.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.destacado-preview button {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 9rem;
  height: 3rem;
  font-size: 1rem;
}

.previews-container {
  padding: 0 2rem;
}
.previews-container h2 {
  font-size: 1.7rem;
  font-weight: 600;
}

.whatsapp {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  color: white;
  background-color: rgb(51, 190, 51);
  border-radius: 50%;
}

.calzado-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}
.calzado-section a {
  align-self: center;
}

.calzado-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 28rem;
  justify-content: center;
  column-gap: 1rem;
}
.calzado-cards-container p {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}

.prices {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.prices p {
  color: #ffb7ce;
  font-size: 1.2rem;
  font-weight: 400;
}
.prices s {
  font-size: 0.8rem;
}

.vermas-button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 8.5rem;
  height: 3rem;
  font-size: 1.1rem;
  margin: 1rem;
}

.info-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 8rem;
  padding: 1rem 0;
}
.info-section b {
  font-size: 0.8rem;
}
.info-section p {
  margin: 0;
  font-size: 0.8rem;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-card svg {
  border-radius: 50%;
  background-color: #ffb7ce;
  color: white;
  padding: 2px;
  margin: 1rem;
}

.footer-superior {
  height: 23rem;
  padding: 1.5rem;
  border-top: 1px solid rgb(211, 211, 211);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 14rem 4rem;
}

.footer-card {
  padding: 0 1rem;
  font-weight: 300;
}
.footer-card ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 1rem;
}
.footer-card ul a {
  text-decoration: none;
}
.footer-card h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.socials {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: end;
}
.socials ul {
  gap: 1.5rem;
}

.footer-inferior {
  height: 6rem;
  border-top: 1px solid rgb(211, 211, 211);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-inferior li {
  font-size: 12px;
  font-weight: 300;
}

* {
  font-family: "Poppins", sans-serif;
}

a {
  color: black;
}

/*# sourceMappingURL=styles.css.map */
