.ulist{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    a{
        text-decoration: none;
    }
    
}

//BANNERS
.inner-banner{
    @include flex(flex, row, center, center);
    gap: 3rem;
    animation: move 18s reverse linear infinite;
}
@keyframes move{
    from{
        transform: translateX(-78%);
    }
    to{
        transform: translateX(100%);
    }
}
.envios{
    @extend %banner;
    background-color: $rosa;
}
.envios p{
    @extend %p-banner;
    text-shadow: 150rem 0 white, 100rem 0 white, 50rem 0 white, -50rem 0 white, -100rem 0 white;
}
.pagos{
    @extend %banner;
    background-color: black;
}
.pagos p{
    @extend %p-banner;
    text-shadow: 210rem 0 white, 140rem 0 white, 70rem 0 white, -70rem 0 white, -140rem 0 white;
}

//HEADER
header{
    height: 9rem;
    padding:  0 3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgb(211, 211, 211);
    position:sticky;
    top:0;
    transition: transform .5s ease;
}
header.hidden{
    transform: translateY(-100%);
}
//UPPER HALF HEADER
.title-buttons{
    height: 5rem;
    @include flex(flex, row, center, space-between);
    margin: 0.5rem;
    a{
        height: 5rem;
    }
}
.icon-button{
    border: none;
    background:none;
    padding: 0;
    :hover{
        width: 107%;
        height: 107%;
    }
    
}
#expand-menu-button{
    display: none;
}
.two-buttons{
    display: flex;
    align-items: end;
    gap: 1rem;
}
#counter{
    font-size: .8rem;
    font-weight: 600;
    position: relative;
    right: 10px;
    bottom: 8px;
}
//LOWER HALF HEADER
.option-menu{
    align-self: center;
    margin: 0.5rem;
    height: 2.5rem;
    display: flex;
    align-items: end;
    font-weight: 300;
    font-size: 0.9rem;
    a:hover{
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}

.navbar a{
    display: flex;
    align-items: center;
    gap: 5px;
}
.dropdown-content{
    display: none;
    position: absolute;
    margin: 0;
    padding: 5px;
    min-width: 8.5rem;
    list-style: none;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
    li{
        padding: 10px 5px;
    }
    a:hover{
        font-weight: bolder;
        text-decoration: none;
    }
}
.dropdown-content-visible{
    display: block;
}
//SEARCH SECTION
.search-section{
    height: 100%;
    width: 100%;
    background-color: white;
    @include flex(none, row, center, center);
    label{
        position: relative;
        right: 45rem;
        pointer-events: none;
        color: rgb(77, 77, 77);
        width: 4rem;
    }
    input{
        height: 3rem;
        width: 46rem;
        border: 1px solid black;
        padding: 0 1rem;
        color: black;
        outline: none;
        font-size: .8rem;
    }
    input:focus{
        border: 2px solid black;
    }
    input:hover{
        border: 2px solid black;
    }
    button{
        color: rgb(54, 54, 54);
    }
}

.search-section form > button{
    position: relative;
    right: 2.5rem;
}

//MOBILE
@media only screen and (max-width:500px){
    header{
        padding: 0 1rem;
    }
    .logo-img{
        height: 90%;
        padding: 0 .5rem;
    }
    .search-section{
        padding: 2rem 0;
        form{
            width: 90%;
            display: flex;
            justify-content: start;
        }
        input{
            width: 75%;
        }
        label{
            right: 72%;
            top: .8rem;
        }
    }
}

//TABLET
@media only screen and (min-width:501px) and (max-width:960px){
    .search-section{
        padding: 2rem 0;
        form{
            width: 97%;
        }
        input{
            width: 76%;
        }
        label{
            right: 75%;
        }
    }
}
@media only screen and (max-width:700px){
    .option-menu{
        height: auto;
        display: none;
    }
    .navbar{
        flex-direction: column;
    }
    header{
        height: auto;
    }
    #expand-menu-button{
        display: inline;
    }
}

// //DESKTOP
// @media only screen and (min-width:961px){

// }