
a{
    color: black;
    text-decoration: none;
}
.ulist{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    a{
        color: black;
    }
}

//banners
.banners{
    position: static;
}
.envios{
    height: 2.5rem;
    background-color: $rosa;
}
.pagos{
    height: 2.5rem;
    background-color: black;
}


.sticky-header{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(211, 211, 211);
    position: sticky;
    top:0;
}
//first section header
.title-buttons{
    padding:  0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-bar{
    display: flex;
    align-items: center;
    input{
        width: 0.1rem;
        transition: width 1s;
        &:hover{
            width: 5rem;
        }
    }
    button{
        border: none;
        background-color:white;
        
    }
}
.logo-img{
    justify-self: center;
}
.login-cart{
    display: flex;
    align-items: center;
}
//secnd section header
.option-menu{
    padding:  0 3rem;
    align-self: center;
    margin: 1rem;
}
