//GENERAL
.disabled{
    filter: blur(5px);
    pointer-events: none;
}
.rose-button{
    border-radius: 5%;
}
.body-overlay{
    background-color: rgba(128, 128, 128, 0.301);
    z-index: 100;
    background-size: cover;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
//SHOPPING CART
.shopping-cart-container{
    position: fixed;
    top:0;
    right: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    background-color: white;
    backdrop-filter: blur(20px);
    transition: .5s ease ;
    filter: none;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    b{
        font-size: 1.2rem;
    }
}

.shopping-cart-header{
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    padding: .7rem;
    gap: .7rem
}
.shopping-cart-summary{
    text-align: center;
    padding: .7rem;
    gap: .7rem;
}
.products-table{
    text-align: center;
}   
.products-table tbody{
    border-bottom: 1px solid black;
}
.products-table td{
    padding: .5rem;
    width: 6rem;
}

//MAIN
.shortcuts{
    height: 12rem;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.shortcut-card{
    width: 6.5rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    img{
        width: auto;
        height: 5.5rem;
        border-radius: 50%;
        border: 3px solid $rosa;
    }
    p{
        font-size: 12px;
        margin: 5px;
        text-align: center;
    }
    // a{
    //     position: relative;
    //     top: 4rem;
    //     left: 2rem;
        
    // }
   
}

//WPP FLOATING LINK
.whatsapp{
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    color: white;
    background-color: rgb(51, 190, 51);
    border-radius: 50%;
}

//PREVIEW OF PRODUCTS
.destacado-preview{
    height: 40rem;
    background-image: url("../images/botas.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        background-color: white;
        border: none;
        border-radius: 5px;
        width: 9rem;
        height: 3rem;
        font-size: 1rem;
    }
}
.preview-home-section,.products-section{
    padding: 0 2rem;
    margin-bottom: 2rem;
    h2{
        font-size: 1.7rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
}
.preview-home-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    a{
        align-self: center;
    }

}
.four-cards-container, .products-cards-conatiner{
    display: grid;
    grid-template-columns: repeat(auto-fill,19rem);
    grid-template-rows: repeat(auto-fill, 23rem);
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: space-evenly;
    p{
        font-size: 0.9rem;
        font-weight: 600;
        margin: 0;
    }
}

.product-card{
    width: 19rem;
    height: 23rem;
    img{
        height: 80%;
    }
}
.product-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: .5rem;
}
.name-price{
    p{
        font-size: larger;
    }
}
.prices{
    display: flex;
    gap: 1rem;
    align-items: center;
    p{
        color: $rosa;
        font-size: 1.2rem;
        font-weight: 400;
    }
    s{
        font-size: 0.8rem;
    }
}
.buy-button{
    padding-right: 2rem;
}
.black-button{
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 3rem;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
}

//PRE-FOOTER INFO
.info-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 8rem;
    padding: 1rem 0;
    b{
        font-size: 0.8rem;
    }
    p{
        margin: 0;
        font-size: 0.8rem;
    }
}
.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg{
        border-radius: 50%;
        background-color: $rosa;
        color: white;
        padding: 2px;
        margin: 1rem;
    }
}

//FOOTER
.footer-superior{
    height: 23rem;
    padding: 1.5rem;
    border-top: 1px solid rgb(211, 211, 211);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 14rem 4rem;
}
.footer-card {
    padding: 0 1rem;
    font-weight: 300;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 1rem;
        a{
            text-decoration: none;
        }
    }
    
    h3{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}

.socials{
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: end;
    ul{
        gap: 1.5rem;
    }
}
.footer-inferior{
    height: 6rem;
    border-top: 1px solid rgb(211, 211, 211);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
        font-size: 12px;
        font-weight: 300;
    }
}