//GENERAL
.disabled{
    filter: blur(5px);
    pointer-events: none;
}

.black-button{
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 3rem;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    @include flex(flex, row, center, center);
}

.body-overlay{
    background-color: rgba(128, 128, 128, 0.301);
    z-index: 100;
    background-size: cover;
    position: absolute;
    display: none;
    right: 0;
    width: 100%;
    height: 100%;
}

//SHOPPING CART
.shopping-cart-container{
    position: fixed;
    top:0;
    right: 0;
    height: 100%;
    width: 24rem;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    backdrop-filter: blur(20px);
    transition: display .5s ease ;
    filter: none;
    z-index: 1000;
    @include flex(none, column, center, space-evenly);
    padding: .7rem;
    gap: 1rem;
}
.close-cart{
    position: absolute;
    top: 0;
    right: 0;
    padding: .8rem;
}
.shopping-cart-header{
    @include flex(flex, column, center, center);
    width: 100%;
    gap: 1rem;
    b{
        font-size: 1.2rem;
    }
    h2{
        align-self: flex-start;
        font-weight:600;
    }
}
.shopping-cart-summary{
    text-align: center;
    width: 100%;
}
.products-table{
    text-align: left;
    width: 100%;
    th{
        font-weight: 400;
        font-size: smaller;
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
    }
    td{
        padding: .5rem;
        width:auto;
    }
}
.td-data{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p{
        margin: 0;
    }
}
.qty-input-bin-button{
    display: flex;
    #bin-button{
        border: none;
        background:none;
        padding-left: 1rem;
    }
}
.qty-input{
    display: flex;
    border: 1.5px solid black;
    width: 6rem;
    height: 2rem;
    button{
        border: none;
        background-color: white;
        width: 2rem;
        @include flex(flex, row, center, center);
    }
    input{
        width: 2rem;
        border:none;
        text-align: center;
    }
    input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
}
.order-notes{
    padding: .7rem 0;
    margin: 1rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    a{
        text-decoration: none;
    }
}
.notes-textarea{
    display: none;
}
.notes-textarea-visible{
    display: inline;
}
.ion-icon-rotate{
    rotate: 180deg;
}
.shopping-cart-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    button{
        width: 100%;
    }
    p{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

//MAIN

//SHORTCUTS MENU
.shortcuts{
    height: auto;
    @include flex(flex, row, center, center);
    padding: 1rem;
}
.shortcut-card{
    width: 6.5rem;
    height: 7rem;
    margin: .8rem 0;
    @include flex(flex, column, center, start);
    img{
        width: auto;
        height: 5.5rem;
        border-radius: 50%;
        border: 3px solid $rosa;
    }
    p{
        font-size: 12px;
        margin: 5px;
        text-align: center;
    }
}

//WPP FLOATING LINK
.whatsapp{
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    color: white;
    background-color: rgb(51, 190, 51);
    border-radius: 50%;
}

//PREVIEW OF PRODUCTS
.destacado-preview{
    height: 40rem;
    background-image: url("../images/botas.jpg");
    background-position: center;
    background-size: cover;
    @include flex(flex, row, center, center);
    button{
        background-color: white;
        border: none;
        border-radius: 5px;
        width: 9rem;
        height: 3rem;
        font-size: 1rem;
    }
}
.preview-home-section,.products-section{
    padding: 0 2rem;
    margin-bottom: 2rem;
    h2{
        font-size: 1.7rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
}
.preview-home-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    a{
        align-self: center;
    }

}
.four-cards-container, .products-cards-conatiner{
    display: grid;
    grid-template-columns: repeat(auto-fill,18rem);
    grid-template-rows: repeat(auto-fill, 25rem);
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: space-evenly;
    p{
        font-weight: 600;
        margin: 0;
    }
}

.product-card{
    max-width: 18rem;
    max-height: 25rem;
    img{
        height: 75%;
    }
}
.product-data{
    @include flex(flex, row, center, space-between);
    padding-top: .5rem;
}
.name-price{
    p{
        font-size: larger;
        font-weight: 500;
    }
}
// .prices{
//     display: flex;
//     gap: 1rem;
//     align-items: center;
//     p{
//         color: $rosa;
//         font-size: 1.2rem;
//         font-weight: 400;
//     }
//     s{
//         font-size: 0.8rem;
//     }
// }
.add-button{
    padding-right: 2rem;
}


//PRE-FOOTER INFO
.info-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 8rem;
    padding: 1rem 0;
}
.info-card{
    @include flex(flex, column, center, center);
    svg{
        border-radius: 50%;
        background-color: $rosa;
        color: white;
        padding: 2px;
        margin: 1rem;
    }
    p, b{
        text-align: center;
        margin: 0;
        font-size: 0.8rem;
    }
}

//FOOTER
.footer-superior{
    height: 21rem;
    padding: 1rem;
    border-top: 1px solid rgb(211, 211, 211);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 14rem 3rem;
}
.footer-card {
    padding: 0 1rem;
    font-weight: 300;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 1rem;
        a{
            text-decoration: none;
        }
    }
    h3{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}

.socials{
    grid-column: 1/4;
    @include flex(flex, row, end, center);
    ul{
        gap: 1.5rem;
    }
}
.footer-inferior{
    height: 6rem;
    border-top: 1px solid rgb(211, 211, 211);
    padding: 1.5rem;
    @include flex(flex, row, center, center);
    li{
        font-size: 12px;
        font-weight: 300;
    }
}

//MOBILE
@media only screen and (max-width:500px){
    .shortcuts{
        flex-wrap: wrap;
        
    }
    .shortcut-card{
        width: 5rem;
        height: 5.5rem;
        img{
            height: 4rem;
        }
    }
    .destacado-preview{
        height: 30rem;
    }
    .four-cards-container, .products-cards-conatiner{
        grid-template-columns: repeat(auto-fill,10rem);
        grid-template-rows: repeat(auto-fill,17rem);
        p{
            font-size: .9rem;
        }
    }
    .product-card{
        max-width: 9rem;
        max-height: 16rem;
    }
    .info-card{
        justify-content: left;
        svg{
            width: 30px;
            height: 30px;
        }
        p,b{
            font-size: .7rem;
        }
    }
    .preview-home-section,.products-section{
        h2{
            font-size: 1.4rem;
        }
    }
    .black-button{
        height: 2.5rem;
        font-size: .8rem;
        margin-top: 1.5rem;
    }
    .footer-superior, .footer-inferior{
        ul, p{
            font-size: 12px;
        }
        h3{
            font-size: 1rem;
        }
    }
    .footer-superior{
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 15rem 7rem 3rem;
        grid-template-areas: 'card1 card2'
        'card3 card3'
        'socials socials';
    }

    @for $i from 1 to 3{
        #footer-card#{$i}{
            grid-area: card+$i;
        }
    }
    #footer-card3{
        grid-column-start: span 2;
    }
    .socials{
        grid-area: socials;
        align-items: center;
    }
    
}

//TABLET
@media only screen and (min-width:501px) and (max-width:960px){
    .shortcuts{
        flex-wrap: wrap;
    }
    .shortcut-card{
        width: 5.5rem;
        height: 6rem;
        img{
            height: 4.5rem;
        }
    }
    .four-cards-container, .products-cards-conatiner{
        grid-template-columns: repeat(auto-fill,13rem);
        grid-template-rows: repeat(auto-fill,20rem);
        p{
            font-size: .9rem;
        }
    }
    .product-card{
        max-width: 13rem;
        max-height: 20rem;
    }
    .info-card{
        justify-content: left;
        svg{
            width: 40px;
            height: 40px;
        }
    }
    .footer-superior, .footer-inferior{
        ul, p{
            font-size: 13px;
        }
        h3{
            font-size: 1.1rem;
        }
    }
    .footer-superior{
        grid-template-rows: 16rem 2rem;
    }
}